<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="actor,insuranceSurveyor" class="com.stackroute.test.domain.Actor">
        <property name="gender" value="Male"></property>
        <property name="name" value="Pushkar Shankar"></property>
        <property name="age" value="20"></property>
    </bean>


    <bean id="movie" class="com.stackroute.test.domain.Movie">
        <constructor-arg name="actor" ref="actor"></constructor-arg>
    </bean>

</beans>
